{% extends 'base.html' %}

{% load static %}

{% block title %}Корзина{% endblock %}
{% block body_class %}page-template-default page page-id-5 woocommerce-cart woocommerce-page{% endblock %}

{% block content %}

<section id="content">
	<div class="container">
		<div class="single_left">
			<div class="single_post_cont">
				<div class="single_inside_content">
					<div class="woocommerce">
						<form class="woocommerce-cart-form" action="http://dessign.net/shopper-woocommerce-theme/cart/" method="post">
	
							<table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
								{% for item in items %}
								{% if forloop.first %}
								<thead>
									<tr>
										<th class="product-remove">&nbsp;</th>
										<th class="product-thumbnail">&nbsp;</th>
										<th class="product-name">Товар</th>
										<th class="product-price">Цена</th>
										<th class="product-quantity">Количество</th>
										<th class="product-subtotal">Всего</th>
									</tr>
								</thead>
								<tbody>
								{% endif %}
								<tr class="woocommerce-cart-form__cart-item cart_item">

									<td class="product-remove">
										<a style="cursor: pointer;" class="remove" aria-label="Remove this item" data-product_id="{{ item.item.id }}">&times;</a>
									</td>

									<td class="product-thumbnail">
										<a href="{% url 'catalog_default' %}{{ item.id }}"><img width="180" height="180" src="{{ item.item.img1.url }}" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" sizes="(max-width: 180px) 100vw, 180px" /></a>
									</td>

									<td class="product-name" data-title="Product">
										<a href="{% url 'catalog_default' %}{{ item.id }}">{{ item.item.title }}</a>
									</td>

									<td class="product-price" data-title="Price">
										<span class="woocommerce-Price-amount amount">{{ item.price_per_item }}<span class="woocommerce-Price-currencySymbol">&#8381;</span></span>
									</td>

									<td class="product-quantity" data-title="Quantity">
										<div class="quantity">
											<input type="number" class="input-text qty text" step="1" min="0" name="" value="{{ item.amount }}" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" />
										</div>
									</td>

									<td class="product-subtotal" data-title="Total">
										<span class="woocommerce-Price-amount amount">{{ item.total_price }}<span class="woocommerce-Price-currencySymbol">&#8381;</span></span>						
									</td>
								</tr>
								{% empty %}
								<tbody>
								<tr>
									<td class="product-remove"></td>
									<td colspan="5" class="product-thumbnail">Ваша корзина пуста</td>
									<td class="product-name"></td>
									<td class="product-price"></td>
									<td class="product-quantity"></td>
									<td class="product-subtotal"></td>
								</tr>


								{% endfor %}
<!-- 								<tr class="woocommerce-cart-form__cart-item cart_item">

						<td class="product-remove">
							<a href="http://dessign.net/shopper-woocommerce-theme/cart/?remove_item=735b90b4568125ed6c3f678819b6e058&#038;_wpnonce=fa2640b163" class="remove" aria-label="Remove this item" data-product_id="67" data-product_sku="Bags89">&times;</a>						</td>

						<td class="product-thumbnail">
							<a href="http://dessign.net/shopper-woocommerce-theme/product/creative-modern-bags/"><img width="180" height="180" src="//dessign.net/shopper-woocommerce-theme/wp-content/uploads/2015/03/box2-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="//dessign.net/shopper-woocommerce-theme/wp-content/uploads/2015/03/box2-180x180.jpg 180w, //dessign.net/shopper-woocommerce-theme/wp-content/uploads/2015/03/box2-150x150.jpg 150w, //dessign.net/shopper-woocommerce-theme/wp-content/uploads/2015/03/box2-360x360.jpg 360w, //dessign.net/shopper-woocommerce-theme/wp-content/uploads/2015/03/box2-300x300.jpg 300w" sizes="(max-width: 180px) 100vw, 180px" /></a>						</td>

						<td class="product-name" data-title="Product">
							<a href="http://dessign.net/shopper-woocommerce-theme/product/creative-modern-bags/">Creative Modern Bags</a>						</td>

						<td class="product-price" data-title="Price">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>59.00</span>						</td>

						<td class="product-quantity" data-title="Quantity">
								<div class="quantity">
		<input type="number" class="input-text qty text" step="1" min="0" max="" name="cart[735b90b4568125ed6c3f678819b6e058][qty]" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" />
	</div>
							</td>

						<td class="product-subtotal" data-title="Total">
							<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>59.00</span>						</td>
					</tr> -->
					
			
			<!-- <tr>
				<td colspan="6" class="actions">

											div class="coupon">
							<label for="coupon_code">Coupon:</label> <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Coupon code" /> <input type="submit" class="button" name="apply_coupon" value="Apply coupon" />
													</div>
					
					<input type="submit" class="button" name="update_cart" value="Обновить корзину" />

					
					<!- <input type="hidden" id="_wpnonce" name="_wpnonce" value="fa2640b163" /><input type="hidden" name="_wp_http_referer" value="/shopper-woocommerce-theme/cart/" />				</td>
			</tr> --> 

								</tbody>
							</table>
						</form>
						{% if items %}
						<div class="cart-collaterals">
							<div class="cart_totals ">
								<!-- <h2>Cart totals</h2> -->

								<table cellspacing="0" class="shop_table shop_table_responsive">

									<!-- <tr class="cart-subtotal">
										<th>Подитог</th>
										<td data-title="Subtotal">
											<span class="woocommerce-Price-amount amount">{{ price_unch }}<span class="woocommerce-Price-currencySymbol">&#8381;</span></span>
										</td>
									</tr> -->

		
		
		
		
		
									<tr class="order-total">
										<th>Итог</th>
										<td data-title="Total">
											<strong><span class="woocommerce-Price-amount amount">{{ price_unch }}<span class="woocommerce-Price-currencySymbol">&#8381;</span></span></strong>
										</td>
									</tr>

		
								</table>

								<div class="wc-proceed-to-checkout">
		
									<a href="http://dessign.net/shopper-woocommerce-theme/checkout/" class="checkout-button button alt wc-forward">Proceed to checkout</a>
								</div>

	
							</div>
						</div>
						{% endif %}

					</div>
						
				</div><!--//single_inside_content--><br /><br />
					
															
					
					<!--<div class="next_prev_cont">
						<div class="left">
							 <a href="http://dessign.net/shopper-woocommerce-theme/sample-page/" rel="prev"><i>Previous post</i><br />Sample Page</a> 
						</div>
						<div class="right">
							 <a href="http://dessign.net/shopper-woocommerce-theme/about/" rel="next"><i>Next post</i><br />About</a> 
						</div>
						<div class="clear"></div>
					</div>--><!--//next_prev_cont-->							
					
				            					
			
			</div><!--//single_post_cont-->
		
		</div><!--//single_left-->
		
		<div id="sidebar">
		
			<div class="side_box">
				<h3 class="side_title">Последние статьи</h3>
				<ul>
					{% for post in recent_posts %}
					<li>
						<a href="{% url 'post' post.id %}">{{ post.title }}</a>
					</li>
					{% endfor %}

					<!-- <li>
						<a href="http://dessign.net/shopper-woocommerce-theme/shopper-woocommerce-wordpress-theme-will-help-you-sell/">Shopper Woocommerce wordpress theme will help you sell</a>
					</li>
					<li>
						<a href="http://dessign.net/shopper-woocommerce-theme/with-this-free-shopper-theme-we-can-sell-product/">With This Free Shopper Theme we can Sell Product</a>
					</li>
					<li>
						<a href="http://dessign.net/shopper-woocommerce-theme/new-product-will-sell-if-your-product-is-amazing/">New Product Will Sell If Your Product is Amazing</a>
					</li>
					<li>
						<a href="http://dessign.net/shopper-woocommerce-theme/this-is-blog-post-here/">Creative Blog Post To Sell Your Product</a>
					</li>
					<li>
						<a href="http://dessign.net/shopper-woocommerce-theme/hello-world/">Hello world!</a>
					</li> -->
				</ul>
			</div>		
		<!-- 	<div class="side_box"><h3 class="side_title">Woocommerce Plugin</h3>			<div class="textwidget">Front matter, or preliminaries, is the first section of a book, and is usually the smallest section in terms of the number of pages. Incorporating the content,style,format,design, and sequence of the various components of a book into a coherent whole.</div>
		</div>
		<div class="side_box"><h3 class="side_title">Archives</h3>		<ul>
			<li><a href='http://dessign.net/shopper-woocommerce-theme/2015/03/'>March 2015</a></li>
		</ul>
		</div> -->			
		</div><!--//sidebar-->		
		<div class="clear"></div>
		
	</div><!--//container-->
</section><!--//content-->

{% endblock %}

{% block script %}
<form id="csrf-form" name="csrfmiddlewaretoken">{% csrf_token %}</form>
<script>
$(document).ready(function () {
	$('.product-remove').on('click', function(e){
		$that = $(this);
		e.preventDefault()

		setTimeout(function(){
			
			var url = '{% url 'fix_order_in_cart' %}';
			var data = {};
			var item_id = $that.find('a').data('product_id');
			data.item_id = item_id;
			console.log(item_id)
			var ruble_symbol = '<span class="woocommerce-Price-currencySymbol">&#8381;</span>';

			var csrf_token = $('#csrf-form [name="csrfmiddlewaretoken"]').val();
			data["csrfmiddlewaretoken"] = csrf_token;
			data.amount = 0;

			$.ajax({
				url: url,
				type: 'POST',
				data: data,
				cache: true,
				success: function () {
					$that.closest('tr').remove();
					var total_price_for_that_w_l = $that.closest('td').siblings('.product-subtotal').find('.amount').text();
					var total_price_for_that = parseInt(total_price_for_that_w_l.substring(0, total_price_for_that_w_l.length - 1));
					var total_price_w_l = $('.order-total').first().find('.amount').text();
					var total_price = parseInt(total_price_w_l.substring(0, total_price_w_l.length - 1));
					total_price -= total_price_for_that;
					$('.order-total').first().find('.amount').html(total_price + ruble_symbol);
					console.log('OK');

				},
				error: function(){
					console.log("error");
				}
			});
			
		}, 0);
	});


	$('input.input-text.qty.text').on('input', function(){
		var $that = $(this);
		setTimeout(function(){



			var url = '{% url 'fix_order_in_cart' %}';
			var this_item = $that;

			var amount = parseInt($that.val());
			console.log('amount:')
			console.log(amount)
			var price_per_item_with_letter = $that.closest('td').siblings(".product-price").find('.amount').text();
			var price_per_item = parseInt(price_per_item_with_letter.substring(0, price_per_item_with_letter.length - 1));

			var prev_total_price_per_item_with_letter = $that.closest('td').siblings(".product-subtotal").find('.amount').text();
			var prev_total_price_per_item = parseInt(prev_total_price_per_item_with_letter.substring(0, prev_total_price_per_item_with_letter.length - 1));

			var total_price_w_l = $(".order-total").first().find('.amount').text();
			console.log(total_price_w_l);
			var total_price = parseInt(total_price_w_l.substring(0, total_price_w_l.length - 1));
			total_price -= prev_total_price_per_item; //<---------------------------------------------------------------------------


			var total_price_per_item = price_per_item * amount;
			total_price += total_price_per_item;
			var ruble_symbol = '<span class="woocommerce-Price-currencySymbol">&#8381;</span>';
			// $that.closest('td').siblings(".product-subtotal").find('.amount').html(total_price_per_item + ruble_symbol);  // with P
			// $('.order-total').first().find('.amount').html(total_price + ruble_symbol);
			// var total_price_per_item = parseInt(foo.substring(0, foo.length - 1));

			var data = {};
			var item_id = $that.closest('td').siblings(".product-remove").find('a').data('product_id');
			data.item_id = item_id;

			var csrf_token = $('#csrf-form [name="csrfmiddlewaretoken"]').val();
			data["csrfmiddlewaretoken"] = csrf_token;
			data.amount = amount;




			$.ajax({
				url: url,
				type: 'POST',
				data: data,
				cache: true,
				success: function () {


					this_item.closest('td').siblings(".product-subtotal").find('.amount').html(total_price_per_item + ruble_symbol);  // with P
					$('.order-total').first().find('.amount').html(total_price + ruble_symbol);
					console.log($('.order-total').first().find('.amount').html());
					console.log('OK');

				},
				error: function(){
					console.log("error");
				}
			});

		}, 0);


	});
});

</script>
{% endblock %}
﻿
