{% extends 'base.html' %}

{% load static %}

{% block title %}Связаться с нами{% endblock %}
{% block body_class %}page-template-default page page-id-10{% endblock %}


{% block content %}
<section id="content">
	<div class="container">
	
		<div class="single_left">
			<div class="single_post_cont">	
				<div class="single_inside_content">
					<div id="cscf" class="cscfBlock">	
						<div class="cscfMessageSent" style="display:none;">
							<h3>Сообщение Отправлено</h3>
							<p>Спасибо за обращение. В ближайшее время мы обязательно с Вами свяжемся.</p>	
						</div>
						<div class="cscfMessageNotSent" style="display:none;">
							<p>Упс, кажется в работе сайта возникли какие-то ошибки.<br/> Наш программист уже взял в руки бубен и по окончанию его танца ошибка будет устранена. Если Вы не готовы ждать - можете отправить сообщение на нашу электронную почту <strong>calm_studio@mail.ru</strong></p>
						</div>
						<div class="cscfForm">
							<p>Пожалуйста, введите Ваше сообщение, и мы постараемся ответить как можно скорее.</p>
							<form role="form" id="frmCSCF" name="frmCSCF" method="post" data-url="{% url 'feedback_ajax' %}">
								{% csrf_token %}
								<!-- name -->
								<div class="control-group form-group">
									<label for="cscf_name">Имя:</label>
									<div class="">
										<input class="form-control input-xlarge" data-rule-required="true" data-msg-required="Пожалуйста, напишите свое имя." type="text" id="cscf_name" name="cscf[name]" value="" placeholder="Ваше Имя"/>
									</div>
									<span for="cscf_name" class="help-inline help-block error" style="display:none;"></span>			
								</div>			
								<!--email address-->			
								<div class="control-group form-group">				
									<label for="cscf_email">Email адрес:</label>				
									<div class="">										
										<input class="form-control input-xlarge" data-rule-required="true" data-rule-email="true" data-msg-required="Пожалуйста, введите e-mail адрес." data-msg-email="Пожалуйста, введите корректный e-mail адрес." type="email" id="cscf_email" name="cscf[email]" value="" placeholder="Ваш Email Адрес"/>				
									</div>                
									<span for="cscf_email" class="help-inline help-block error" style="display:none;"></span>			
								</div>
		
								<div class="control-group form-group">				
									<label for="cscf_message">Сообщение:</label>				
									<div class="">										
										<textarea class="form-control input-xlarge" data-rule-required="true" data-msg-required="Пожалуйста, напишите сообщение." id="cscf_message" name="cscf[message]" rows="10" placeholder="Ваше Сообщение"></textarea>				
									</div>					
									<span for="cscf_message" class="help-inline help-block error" style="display:none;"></span>			
								</div>
								<input type="submit" id="cscf_SubmitButton" class="btn btn-default" value="Отправить сообщение"/>
							</form>
						</div>
					</div>
					
				</div><br /><br />
			</div>
		</div>

		<div id="sidebar">
			<div class="side_box">		
				<h3 class="side_title">Последние статьи</h3>		
				<ul>
					{% for post in recent_posts %}
					<li>
						<a href="{% url 'post' post.id %}">{{ post.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>					
		</div> 
</section>
<div class="clear"></div>
{% endblock %}

﻿{% block script %}
<script type="text/javascript">
/* <![CDATA[ */
var cscfvars = {"ajaxurl": $("#frmCSCF").data('url')};
/* ]]> */
</script>
<link rel='stylesheet' id='cscf-bootstrap-css'  href='http://dessign.net/shopper-woocommerce-theme/wp-content/plugins/clean-and-simple-contact-form-by-meg-nicholas/css/bootstrap-forms.min.css?ver=4.6.1' type='text/css' media='all' />
<script type='text/javascript' src='{% static 'js/add-to-cart.min.js' %}'></script>
<script src="{% static 'js/my_adding.js' %}"></script>
<script type='text/javascript' src='{% static 'js/jquery.validate.min.js' %}'></script>
<script type='text/javascript' src='{% static 'js/jquery.validate.contact.form.js' %}'></script>
{% endblock %}

		