{% extends 'base.html' %}

{% load static %}

{% block title %}Поиск по запросу "{{ search_request }}"{% endblock%}

{% block body_class %}home blog{% endblock %}

{% block link %}
<style>.woocommerce-tabs {clear: both;}
ul.tabs.wc-tabs {list-style: none;padding: 0 0 0 1em;margin: 0 0 1.618em;overflow: hidden;position: relative;}
ul.tabs.wc-tabs::after {clear: both;}
ul.tabs.wc-tabs::before {    content: ' ';display: table;border-bottom: 1px solid #d3ced3;position: absolute;content: ' ';width: 100%;bottom: 0;left: 0;border-bottom: 1px solid #d3ced2;z-index: 1;}
ul.tabs.wc-tabs li.active::before {box-shadow: 2px 2px 0 #fff;}
ul.tabs.wc-tabs li::after {right: -6px;-webkit-border-bottom-left-radius: 4px;-moz-border-bottom-left-radius: 4px;border-bottom-left-radius: 4px;border-width: 0 0 1px 1px !important;box-shadow: -2px 2px 0 #ebe9eb;position: absolute;bottom: -1px;width: 5px;height: 5px;content: " ";}
ul.tabs.wc-tabs li::after,ul.tabs.wc-tabs li::before {border: 1px solid #d3ced2;position: absolute;bottom: -1px;width: 5px;height: 5px;content: ' ';}
ul.tabs.wc-tabs li::before {left: -6px;-webkit-border-bottom-right-radius: 4px;-moz-border-bottom-right-radius: 4px;border-bottom-right-radius: 4px;border-width: 0 1px 1px 0;box-shadow: 2px 2px 0 #ebe9eb;}
ul.tabs.wc-tabs li {display: inline-block;border: 1px solid #d3ced3;
background-color: #ebe9eb;position: relative;border-radius: 4px 4px 0 0;margin: 0 -5px;padding: 0 1em;}
ul.tabs.wc-tabs li.active {background: #fff;border-bottom-color: #fff;z-index: 2;}
ul.tabs.wc-tabs li.active a {color: inherit;text-shadow: inherit;}
ul.tabs.wc-tabs li a {color: #515151;display: inline-block;padding: .5em 0;font-weight: 700;text-decoration: none;}
</style>
{% endblock %}


{% block content %}
<section id="content">
	<div class="container woocommerce">
		<div class="woocommerce-tabs wc-tabs-wrapper">
			<ul class="tabs wc-tabs" role="tablist">
				<li class="description_tab active" data-for_tab="tab-products">
					<a style="cursor: pointer;">Товары по запросу</a>
				</li>
				<li class="reviews_tab" data-for_tab="tab-articles">
					<a style="cursor: pointer;">Статьи по запросу</a>
				</li>
			</ul>
		</div>
		<div id="posts_cont" class="tab-products">
			{% for item in items %}

			<div  class="{% cycle 'home_small_box' 'home_small_box' 'home_small_box home_small_box_last' %} ">
				<a href="{% url 'item' item.id %}/" class="woocommerce-LoopProduct-link">
				<div>
				<a href="{% url 'item' item.id %}/">
					<img width="360" height="360" src="{{ item.img1.url }}" class="attachment-home-small-box size-home-small-box wp-post-image" alt="" s sizes="(max-width: 360px) 100vw, 360px" />	
				</a>		
				</div>
					<div class="sb_title">
						<a href="{% url 'item' item.id %}/">{{ item.title }}</a>
					</div>
					
					<div class="prod_meta">
						<div class="prod_meta_button">
							<p class="product woocommerce add_to_cart_inline " style="border:4px solid #ccc; padding: 12px;">
								<a rel="nofollow" data-product_id="{{ item.id }}" class="button product_type_simple add_to_cart_button ajax_add_to_cart{% if item.id in list_of_added_items %} added{% endif %}">{% if item.id not in list_of_added_items %}В корзину{% else %}Добавлено{% endif %}</a>
								<a href="#" class="added_to_cart" title="View cart" {% if item.id not in list_of_added_items %} style="display: none;"{% endif %}>View cart</a>
							</p>			
						</div>
						<div class="sb_price" style="text-align: right">
							<span class="price">
							{% if item.get_discount_price == item.price %}
								<span class="woocommerce-Price-amount amount">{{ item.price }}<span class="woocommerce-Price-currencySymbol">&#8381;</span></span>
							{% else %}
								<del>
									<span class="woocommerce-Price-amount amount">
										{{ item.price }}<span class="woocommerce-Price-currencySymbol">&#8381;</span></span>
								</del>
								<ins>
									<span class="woocommerce-Price-amount amount">{{ item.get_discount_price }}<span class="woocommerce-Price-currencySymbol">&#8381;</span></span>
								</ins>
							{% endif %}
							</span>

						</div>
					</div>
				</a>
			</div>

			{% cycle '' '' '<div class="home_small_box clear"></div>' %}
			{% empty %}
			<p>К сожалению товаров по запросу не найдено</p>

				
			{% endfor %}									
										
		</div>

		<div class="tab-articles" style="display: none">
			{% for post in posts %}
			<div  class="{% cycle 'home_small_box' 'home_small_box' 'home_small_box home_small_box_last' %} ">
				<a href="{% url 'post' post.id %}" class="woocommerce-LoopProduct-link">
				<div>
				<a href="{% url 'post' post.id %}/">
					<img width="360" height="360" src="{{ post.img.url }}" class="attachment-home-small-box size-home-small-box wp-post-image" alt="" s sizes="(max-width: 360px) 100vw, 360px" />	
				</a>		
				</div>
					<div class="sb_title">
						<a href="{% url 'post' post.id %}/">{{ post.title }}</a>
					</div>
					
					<div class="prod_meta">
						<div class="prod_meta_link">
							<a href="{% url 'post' post.id %}">ЧИТАТЬ</a>
						</div>
					</div>
				</a>
			</div>

			{% cycle '' '' '<div class="home_small_box clear"></div>' %}
			{% empty %}
			<p>К сожалению товаров по запросу не найдено</p>

				
			{% endfor %}				
		</div>
		<div class="clear"></div>
		
	</div>
</section>
<a id="a_for_ajax_adding_cart" data-url="{% url 'cart_adding' %}" ></a>
<form id="csrf-form" name="csrfmiddlewaretoken">{% csrf_token %}</form>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(
function($){
	$('.load_more_text a').click(function() {
		$(this).css('visibility','hidden');
		var url = $(this).data('url');
		var item_id = $(this).parent().parent().parent().parent().find('a.add_to_cart_button').last().data('product_id');
		console.log(item_id)
		console.log(url)

		var data = {};
		data.last_id = item_id;
		console.log('last id :')
		console.log(data['last_id'])
		var csrf_token = $('#csrf-form [name="csrfmiddlewaretoken"]').val();
		data["csrfmiddlewaretoken"] = csrf_token;

		$.ajax({
				url: url,
				type: 'POST',
				data: data,
				cache: true,
				success: function (data) {
					console.log("OK");
					$.each(data.item, function(k, v,){
						console.log('index:')
						console.log(k)
						console.log('prepre')
						var index_class = ''
						var end_div = ''
						var span_price = ''
						var if_it_added_class = ''
						var if_it_added_style = ' style="display: none;"'

						if ( k == 2 || k == 5 || k == 8 ){
							index_class = 'home_small_box home_small_box_last'
							end_div = '<div class="home_small_box clear"></div>'
						} else {
							index_class = 'home_small_box'
							end_div = ''
						};

						if ( data.items_added.indexOf(v.item_id) != -1 ) {
							if_it_added_class = ' added';
							if_it_added_style = '';
						}

						
						if (v.discount_price != v.price) {
							span_price = '<del><span class="woocommerce-Price-amount amount">' + v.price + '<span class="woocommerce-Price-currencySymbol">&#8381;</span></span>	</del>	<ins><span class="woocommerce-Price-amount amount">' + v.discount_price + '<span class="woocommerce-Price-currencySymbol">&#8381;</span></span></ins>'
						} else {
							span_price = '<span class="woocommerce-Price-amount amount">' + v.price + '<span class="woocommerce-Price-currencySymbol">&#8381;</span></span>'
						}


						// console.log('pre')

						var item_div = '\
								<div  class="' + index_class + '">\
	\
								<a href="' + v.item_url + '" class="woocommerce-LoopProduct-link">\
\
								<div>\
								<a href="' + v.item_url + '">\
									<img width="360" height="360" src="' + v.img_url + '" class="attachment-home-small-box size-home-small-box wp-post-image" alt=""  sizes="(max-width: 360px) 100vw, 360px"></a>		\
								</div>\
									<div class="sb_title">\
										<a href="' + v.item_url + '">' + v.title + '</a>\
									</div>\
									\
									<div class="prod_meta">\
										<div class="prod_meta_button">\
											<p class="product woocommerce add_to_cart_inline " style="border:4px solid #ccc; padding: 12px;">\
				\
															\
												<a rel="nofollow" data-product_id="' + v.item_id + '" class="button product_type_simple add_to_cart_button ajax_add_to_cart' + if_it_added_class + '">В корзину</a>\
												<a href="#" class="added_to_cart" title="View cart"' + if_it_added_style + '>View cart</a>\
											</p>			\
										</div> <!-- //prod_meta_button -->\
										<div class="sb_price" style="text-align: right">\
											<span class="price">\
											' + span_price + '\
											</span>\
				\
										</div>\
									</div> <!-- //prod_meta -->\
								</a>\
							</div>' + end_div;

						$('#posts_cont').append(item_div);

					});
					if (data.is_it_end == false) {
						$('.load_more_text a').css('visibility','visible');
					}
				},
				error: function(){
					console.log("error");
				}
			});

		return false;
	});
});
</script>
<script>
	$(document).ready(function(){

		$('ul.tabs').on('click', 'li', function(){
			if ( !$(this).hasClass('active') ) {
				$(this).addClass('active');
				$(this).siblings('li').removeClass('active');
				var hid_div = $(this).siblings('li').data('for_tab');
				$('.' + hid_div).css('display', 'none');
				var active_div = $(this).data('for_tab');
				$('.' + active_div).css('display', 'block');

			}
		});
	});
</script>
<script src="{% static 'js/my_adding.js' %}"></script>
{% endblock %}
